.cl1 #id1{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(127, 255, 212, 0.32);
}
.cl1 #id2{
    max-width: 500px;
    padding: 5px;
    background-color: antiquewhite;
}