.cl1 #id1{
    background-color: rgb(0, 0, 255);
    opacity: 0.1;
    /* When using the opacity property to a-cdd transparency to the background of an element, all of its child elements inherit the same transparency. This can make the text inside a fully transparent element hard to read. */
    /* So, its better to use a alpha channel format. */
}
.cl2 #id2{
    background-color: rgba(0, 0, 255,0.1);
    padding: 5px;
}
.cl3 #id3{
    padding: 5px;
    background-image: url('../../image/1600w-t5QXEzHaSdM.webp');
}
.cl4 #id4{
    background-image: url('../../image/2.jpeg');
}
.cl4 #id5{
    background-image: url('../../image/2.jpeg');
    background-repeat: repeat-x;
    /* But by doing so it is not covering the entire element. */
}
.cl4 #id6{
    background-image: url('../../image/2.jpeg');
    background-repeat: no-repeat;
}
*{
    box-sizing: border-box;
}
.cl4 div{
    background-image: url('../../image/3.jpg');
    background-size: 200px 250px;
    background-repeat: no-repeat;
    background-position: right top;
    border: 1px solid black;
}
.cl4 #id7{
    text-align: center;
    margin-right: 200px;
    padding: 5px;
}
.cl5 div#id8{
    background-image: url('../../image/3.jpg');
    background-size: 200px 250px;
    background-repeat: no-repeat;
    background-position: right top;
    border: 1px solid black;
    background-attachment: fixed;
}
.cl5 div#id8 p{
    margin-right: 200px;
    padding: 5px;
}
.cl5 div#id9{
    background-image: url('../../image/3.jpg');
    background-size: 200px 250px;
    background-repeat: no-repeat;
    background-position: right top;
    border: 1px solid black;
    background-attachment: scroll;
}
.cl5 div#id9 p{
    margin-right: 200px;
    padding: 5px;
}
.cl6 #id10{
    border: 1px solid black;
    padding: 5px;
    background: url('../../image/3.jpg') no-repeat fixed top right;
    background-size: 300px 270px;
}
.cl6 #id10 p{
    margin-right: 300px;
}
.cl7 #id11{
    background: url('../../image/1600w-t5QXEzHaSdM.webp');
    padding: 5px;
    background-clip: border-box;
    border: 10px dotted rgb(244, 99, 99);
    background-origin: content-box;
}
.cl7 #id12{
    background: url('../../image/1600w-t5QXEzHaSdM.webp');
    padding: 5px;
    background-clip: padding-box;
    border: 10px dotted rgb(244, 99, 99);
    background-origin: content-box;
}
.cl7 #id13{
    background: url('../../image/1600w-t5QXEzHaSdM.webp');
    padding: 20px;
    background-clip: content-box;
    border: 10px dotted rgb(244, 99, 99);
    background-origin: border-box;
}
.cl8 div{
    box-sizing: border-box;
    border: 10px dotted rgb(244, 99, 99);
    background: url('../../image/1600w-t5QXEzHaSdM.webp'),url('../../image/3.jpg');
    background-size: 40px 40px , 400px 450px;
    background-repeat: no-repeat,no-repeat;
    background-attachment: scroll,scroll;
    background-origin: border-box, content-box;
    background-position: top left,top right;
}
.cl9 #id14{
    background: url('../../image/3.jpg') no-repeat scroll;
    padding: 5px;
    background-size: cover;
}
.cl9 #id15{
    background: url('../../image/3.jpg') no-repeat scroll right;
    padding: 5px;
    background-size: contain;
}